*{
    padding: 0;
    margin: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.navbar{
    height: 65px;
    display: flex;
    position: absolute;
    width: 100%;
    box-shadow: 0px 0px 3px black;
  }
  
  .nav-left{
    height: inherit;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .burger{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .burger:hover{
    background-color: rgb(241, 241, 241);
  }
  .line{
    border: 1px solid rgb(57, 57, 57);
    width: 18px;
    margin: 2px;
    /* border-radius: px; */
  }
  .logo-img{
    /* border: 2px solid red; */
     width: 40px;
     height: 40px;
     margin-right: 3px;
  }
  .logo-img img{
    width: 100%;
    height: 100%;
  }
  .nav-mid{
    /* border: 2px solid green; */
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    position: relative;
    margin-left: 50px ;
  }
  .search-bar{
    border: none;
    width: inherit;
    background-color: rgb(245, 244, 244);
    margin: 0px 20px 0px 20px; 
    height: 40px;
    border-radius: 8px;
    padding: 0px 0px 0px 10px;
  }
  .search-bar:focus{
    background-color: white;
   outline: none;
    box-shadow: 1px 1px 2px black;
  }
  .nav-right{
    height: inherit;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-right: 15px;
  }
  .detail-btn{
    margin: 3px;
    padding: 5px 9px 5px 9px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(202, 212, 239);
    background: none;
  }
  .detail-btn:hover{
    background-color: rgb(163, 187, 253);
    color: white;
  }
  .profile{
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    /* margin-left: 10px; */
  }
  /*---------------- Main-Body------------------- */
  
  #main-body{
    height: 91vh;
    width: 100vw;
    margin: auto;
    position: relative;
    top: 65px;
    /* overflow: hidden; */
    display: flex;
  }
  .sidebar{
    height: 100%;
    display: flex;
    width: 70px;
    flex-direction: column;
    transition: width 0.2s ease; 
    padding-top: 3px;
    box-shadow: 2px 0px 2px rgb(141, 140, 140);
    overflow: hidden;
  }
  
  .sidebar:hover{
    width: 300px;
  }
  
  .icon{
    width: 45px;
    height: 45px;
    margin: 8px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: relative;
  }
  
  .icon img{
    width: 20px;
  }
  
  .icon:hover{
    background-color: rgb(241, 241, 241);
  }
  
  .side-active{
    background-color: rgb(202, 212, 239);
  }
  
  .side-active:hover{
    background-color: rgb(202, 212, 239);
  }
  .box1{
   display: inline-block;
   height: 60px;
   cursor: pointer;
  }
  .notes{
    width: 170px;
    margin-left: 5px ;
    padding-left: 15px;
    height: 45px;
    position: relative;
    top: -45px;
    left: 50px; 
    display: flex;
    align-items: center;
  }
  .notes:hover{
    background-color: rgb(237, 237, 237);
    border-radius: 40px;
  }
  .notesArea{
    /* border: 2px solid blue; */
    width: 100%;
    overflow: auto;
  }
  .addNoteBox{
    /* border: 2px solid red; */
    padding-top: 30px;
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  .addNote{
    /* border: 2px solid red; */
    width: 530px;
  }
 .addNote_title{
  /* width: 530px; */
  display: flex;
 }

  .textarea{
    width: 530px;
    border-radius: 8px;
    padding: 12px 10px ;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px black;
    margin: 5px;
    font-size: 17px;
  }
  .input-tag{
    width: 20%;
    /* padding: 12px 8px; */
   }
  .notes-card-area{

    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    width: 74%;
    margin: 30px auto;
    /* justify-content: space-evenly; */
  }
  .note-card{
    box-shadow: 0px 1px 3px rgb(170, 170, 170);
    padding: 10px 20px 30px 20px;
    border-radius: 10px;
    /* height: 200px; */
    width: 250px;
    margin: 20px;
    position: relative;
  }
  .note-card h3{
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: 10px;
  }
  .note-card p{
    
  }
  .tag{
   
   background-color: rgb(59, 74, 243);
   border-radius: 10px;
   padding: 2px 8px ;
   color: white;
   display: inline-block;
   position: absolute;
   top: -8px;
   right: -15px;
   
  }
  .delete-btn{
    border: none;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .profile-page-area{
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
align-items: center;
justify-content: center;
  }
  .profile-section{
    border: 2px solid red;
    padding: 20px;
  }
  /* ------------ Login page ----------------- */
  .signup-box{
    border: 2px solid red;
  }

  
  ::-webkit-scrollbar{
    width: 10px;
    
  }

  ::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(104, 141, 148);
    border-radius: 10px;
  }